@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
body {
	margin: 0;
	font-family: "Titillium Web";
	padding: 0;
	background: url('../img/black-linen.png');
}

div.form {
	padding: 10px;
	border: 2px solid;
    border-radius: 10px;
	display: table;
	margin: 0 auto;
	background: white;
}