.leaflet-marker-icon {
	.number {
		font-weight: bold;
		font-size: 14pt;
		color: white;
		z-index: 100;
		position: absolute;
		top: 0;
		left: 7px;
	}
	img {
		z-index: 99;
		position: absolute;
		left: 0;
		top: 0;
	}
}
