{
  "websocketPort" : "4733",
  "telnetPort" : "8081",
  "telnetHost" : "localhost",
  "clientDirectory" : "htdocs/",
  "mapDirectory" : "/home/sdtd/instances/my_instance/Random Gen/my_map/map",
  "database" : {
    "host": "localhost",
    "user": "root",
    "password": "",
    "database" : "7dtd"
  },
  "kickUnregistered": true,
  "website": "example.org"
}
